:root {
  font-size: 62.5%; /* This makes 1rem = 10px for easier element sizing*/
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  padding-top: 7rem;
  background: url("background.jpg") no-repeat center center / cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed;
}

h4 {
  font-size: clamp(1.3rem, 2vw + 0.75rem, 2.25rem);
  color: #0b0467;
  position: absolute;
  top: 0;
  z-index: 3;
  line-height: 3.5rem;
  left: 20%;
  margin-top: 1.7rem;
}
span {
  color: #780404;
  z-index: 3;
  color: #1f2937;
  margin: 4rem 0;
  line-height: 4rem;
}
span {
  color: #ff0000;
}

p {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  color: #0b0467;
  text-align: center;
  z-index: 3;
}

h4.motivational-message {
    font-size: clamp(2rem, 2.4vw + 1rem, 3.5rem);
    left: 25%;
    top: 50px;
}

.game-container {
  margin: 0 auto;
  position: relative;
  width: 65%;
  height: 25rem;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 1rem;
  background-color: #fad954ea;
  z-index: 3;
}

.header {
  position: absolute;
  top: 15px;
}

.banner {
  height: 30%;
}

.transparent {
  filter: brightness(0) invert(1);
}

@keyframes blink-animation {
  0%,
  20% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Invisible */
  }
  80%,
  100% {
    opacity: 1; /* Fully visible again */
  }
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.timer {
  font-size: clamp(1.3rem, 2vw + 0.75rem, 2.25rem);
  font-weight: bolder;
  color: #ff0000;
  margin: 1rem;
}

.character {
  margin: 0.1rem 1rem 0.1rem 10rem;
  padding-bottom: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20%;
  object-fit: cover;
}

.character.die {
  transform: rotate(-90deg); /* Rotate 90 degrees */
  transition: transform 0.2s ease; /* Smooth transition */
  bottom: -8px;
}

.character.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

.character.animate {
  animation: jumpAnimation 1.2s;
}

@keyframes jumpAnimation {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 45%;
  }
  100% {
    bottom: 1%;
  }
}

.obstacle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 16rem;
  height: 4rem;
  border-radius: 2rem;
  border: 0.2rem solid black;
}

.heart-container {
  display: flex;
}

.health {
  width: 3rem;
  margin: 1.3rem 0.6rem;
}

.obstacle.animate {
  animation: moveAnimation 3s infinite linear;
}

@keyframes moveAnimation {
  0% {
    left: 110%;
  }
  100% {
    left: -10%;
  }
}

@media (max-width: 1024px) {
  .game-container {
    width: 80%;
  }

  h4.motivational-message{
    left: 30%;
  }

  .character {
    margin-left: 7rem;
  }

  .obstacle.animate {
    animation: moveAnimation 2s infinite linear;
  }

  .character.animate {
    animation: jumpAnimation 1s;
  }
}

@media (max-width: 767px) {
  .game-container {
    width: 90%;
  }

  h4.motivational-message{
    left: 35%;
  }

  .character {
    margin-left: 5rem;
  }

  .obstacle.animate {
    animation: moveAnimation 1.5s infinite linear;
  }

  .character.animate {
    animation: jumpAnimation 0.9s;
  }
}
